<html>
<head>
  <title>Messages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='favicon/favicon.ico') }}"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/messages.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
  <script src="{{ url_for('static',filename='scripts/util.js') }}"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{urls['events']}}">Neighbor</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{urls['events']}}">Events</a></li>
        <li class="active"><a href="{{urls['messages']}}">Messages</a></li>
        <li><a href="{{urls['profile']}}">Profile</a></li>
      </ul>
    </div>
  </nav>
  <div id="hidden_info">
    <input id="username" type="hidden" value="{{username}}">
    <input id="receiver" type="hidden" value="{{receiver}}">
  </div>
  <div class="container">
      <div class="row justify-content-center">
          <h3 class="text-center">Messaging</h3>
      </div>
      <div class="messaging" >
            <div class="inbox_msg">
              <div class="inbox_people">
                <div class="headind_srch">
                  <div class="recent_heading">
                    <h4>Contacts</h4>
                  </div>
                </div>
                <div class="inbox_chat" id="show_contacts">
                </div>
              </div>
              <div class="mesgs">
                <div class="msg_history" id="show_messages">
                </div>
                <div class="type_msg">
                  <div class="input_msg_write" id="msg_class_hidden">
                    <input type="text" class="write_msg" placeholder="Type a message" id="msg_to_be_sent"/>
                    <button class="msg_send_btn" type="button" id="msg_send_btn_id"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
</body>
<script>
  loadMessages = (username, receiver) => {
    var pass_data = {
      "receiver":receiver,
      "username":username,
    }
    var pass_data0 = {
      "username":username,
    }
    if (receiver != "") {
      document.getElementById("msg_class_hidden").style.visibility = "visible";
      console.log("~~~~~~~~hello")
      console.log(JSON.stringify(pass_data))
      $.ajax({
        type: 'GET',
        url: "{{url_for('users.messages')}}",
        contentType: 'application/json',
        data: pass_data,
        dataType: 'json',
        success: (result) => {
          $('#show_messages').empty();  
          for (var key in result['messages']) {
            console.log(key)
            var obj = result['messages'][key]
            console.log(obj)
            var obj_ =  JSON.parse(obj)
            if (obj_["message"] != " ") {
              if (obj_["sender"] == username) {
                var this_date = new Date(parseInt(key) * 1000);
                console.log(this_date)
                $("#show_messages").append(
                  '<div class="outgoing_msg">'
                    +'<div class="sent_msg">'
                      +'<p>'+ obj_["message"] +'</p>'
                      +'<span class="time_date">' + this_date.toDateString() + '</span> </div>'
                  +'</div>'
                )
              }
              else if (obj_["sender"] == receiver){
                var this_date = new Date(parseInt(key) * 1000);
                console.log(this_date)
                if(result['image_url']=="false") {
                  $("#show_messages").append(
                  '<div class="incoming_msg">'
                    +'<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>'
                    +'<div class="received_msg">'
                      +'<div class="received_withd_msg">'
                        +'<p>' + obj_["message"] + '</p>'
                        +'<span class="time_date">' + this_date.toDateString() + '</span></div>'
                    +'</div>'
                  +'</div>'
                  )
                }
                else {
                  $("#show_messages").append(
                  '<div class="incoming_msg">'
                    +'<div class="incoming_msg_img"> <img src="' + result['image_url'] + '" alt="sunil"> </div>'
                    +'<div class="received_msg">'
                      +'<div class="received_withd_msg">'
                        +'<p>' + obj_["message"] + '</p>'
                        +'<span class="time_date">' + this_date.toDateString() + '</span></div>'
                    +'</div>'
                  +'</div>'
                  )
                } 
              }
            }
          }
          var objDiv = document.getElementById("show_messages");
          objDiv.scrollTop = objDiv.scrollHeight;

          // console.log("why this is not added into the page!!!!!!")
          // $("#type_msg").append(
          //   '<div class="input_msg_write">'
          //     +'<input type="text" class="write_msg" placeholder="Type a message" id="msg_to_be_sent"/>'
          //       +'<button class="msg_send_btn" type="button" id="msg_send_btn_id"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>'
          //         +'</div>'
          // )
          
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
    else {
      document.getElementById("msg_class_hidden").style.visibility = "hidden";
    }
      $.ajax({
        type: 'GET',
        url: "{{url_for('users.messages_contacts')}}",
        contentType: 'application/json',
        data: pass_data0,
        dataType: 'json',
        success: (result) => {
          if (result['isSuccess'] != false) {
            var contacts = result['contacts']
            var image_url = result['image_url']
            console.log(contacts)
            contacts = contacts.replace(/'/g, '"');
            contacts = JSON.parse(contacts);
            console.log(contacts)
            console.log(image_url)
            image_url = image_url.replace(/'/g, '"');
            image_url = JSON.parse(image_url);
            console.log(image_url)
            for (var i = 0; i < contacts.length; i++) {
              console.log("!!!!!!!!!")
              console.log(image_url[i])
              if(contacts[i] == receiver) {
                if(image_url[i]=="false") {
                  $("#show_contacts").append(
                  '<div class="chat_list active_chat" id="'+contacts[i]+'">'
                    +'<div class="chat_people">'
                      +'<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>'
                      +'<div class="chat_ib">'
                        +'<h5>' + contacts[i] +'</h5>'
                      +'</div>'
                    +'</div>'
                  +'</div>'
                  )
                }
                else {
                  $("#show_contacts").append(
                  '<div class="chat_list active_chat" id="'+contacts[i]+'">'
                    +'<div class="chat_people">'
                      +'<div class="chat_img"> <img src="'+ image_url[i] + '" alt="sunil"> </div>'
                      +'<div class="chat_ib">'
                        +'<h5>' + contacts[i] +'</h5>'
                      +'</div>'
                    +'</div>'
                  +'</div>'
                  )
                }
              }
              else {
                if(image_url[i]=="false"){
                  $("#show_contacts").append(
                  '<div class="chat_list" id="'+contacts[i]+'">'
                    +'<div class="chat_people">'
                      +'<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>'
                      +'<div class="chat_ib">'
                        +'<h5>' + contacts[i] +'</h5>'
                      +'</div>'
                    +'</div>'
                  +'</div>'
                  )
                }
                else {
                  $("#show_contacts").append(
                    '<div class="chat_list" id="'+contacts[i]+'">'
                    +'<div class="chat_people">'
                      +'<div class="chat_img"> <img src="' + image_url[i] + '" alt="sunil"> </div>'
                      +'<div class="chat_ib">'
                        +'<h5>' + contacts[i] +'</h5>'
                      +'</div>'
                    +'</div>'
                  +'</div>'
                  )
                }
              }

            }
          }

          $(".chat_list").click(function(){
          var buttonElementId = $(this).attr('id');
          console.log("~~~~~~~~ buttonElementId")
          console.log(buttonElementId)
          $('#show_contacts').empty();
          loadMessages(username, buttonElementId)
        });

        $("#msg_to_be_sent").click(function(){
          document.querySelector('.write_msg').value = '';
          document.getElementById("msg_send_btn_id").style.visibility = "visible";
        });

        $("#msg_send_btn_id").click(function(){
          var inputVal = document.getElementById("msg_to_be_sent").value;
          if (inputVal != '' & inputVal != ' ') {
            var pass_data = {
            "message":inputVal,
            "receiver":receiver,
            "username":username
            }

          $.ajax({
            type: 'POST',
            url: "{{url_for('users.messages')}}",
            contentType: 'application/json',
            data: JSON.stringify(pass_data),
            dataType: 'json',
            success: (result) => {
              // location.reload()
              document.getElementById("msg_send_btn_id").style.visibility = "hidden";
              reloadMessages(username, receiver)
              document.querySelector('.write_msg').value = 'Type a message'
            },
            error: function(error) {
              console.log(error);
            }
          });
          }
        });


        },
        error: function(error) {
          console.log(error);
        }
      });


    }

  reloadMessages = (username, receiver) => {
    var pass_data = {
      "receiver":receiver,
      "username":username,
    }
    if (receiver != "") {
      document.getElementById("msg_class_hidden").style.visibility = "visible";
      console.log("~~~~~~~~hello")
      console.log(JSON.stringify(pass_data))
      $.ajax({
        type: 'GET',
        url: "{{url_for('users.messages')}}",
        contentType: 'application/json',
        data: pass_data,
        dataType: 'json',
        success: (result) => {
          $('#show_messages').empty();  
          for (var key in result['messages']) {
            console.log(key)
            var obj = result['messages'][key]
            console.log(obj)
            var obj_ =  JSON.parse(obj)
            if (obj_["message"] != " ") {
              if (obj_["sender"] == username) {
                var this_date = new Date(parseInt(key) * 1000);
                console.log(this_date)
                $("#show_messages").append(
                  '<div class="outgoing_msg">'
                    +'<div class="sent_msg">'
                      +'<p>'+ obj_["message"] +'</p>'
                      +'<span class="time_date">' + this_date.toDateString() + '</span> </div>'
                  +'</div>'
                )
              }
              else if (obj_["sender"] == receiver){
                var this_date = new Date(parseInt(key) * 1000);
                console.log(this_date)
                if(result['image_url']=="false") {
                  $("#show_messages").append(
                  '<div class="incoming_msg">'
                    +'<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>'
                    +'<div class="received_msg">'
                      +'<div class="received_withd_msg">'
                        +'<p>' + obj_["message"] + '</p>'
                        +'<span class="time_date">' + this_date.toDateString() + '</span></div>'
                    +'</div>'
                  +'</div>'
                  )
                }
                else {
                  $("#show_messages").append(
                  '<div class="incoming_msg">'
                    +'<div class="incoming_msg_img"> <img src="' + result['image_url'] + '" alt="sunil"> </div>'
                    +'<div class="received_msg">'
                      +'<div class="received_withd_msg">'
                        +'<p>' + obj_["message"] + '</p>'
                        +'<span class="time_date">' + this_date.toDateString() + '</span></div>'
                    +'</div>'
                  +'</div>'
                  )
                } 
              }
            }
          }
          
          // $("#type_msg").append(
          //   '<div class="input_msg_write">'
          //     +'<input type="text" class="write_msg" placeholder="Type a message" id="msg_to_be_sent"/>'
          //       +'<button class="msg_send_btn" type="button" id="msg_send_btn_id"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>'
          //         +'</div>'
          // )

          var objDiv = document.getElementById("show_messages");
          objDiv.scrollTop = objDiv.scrollHeight;
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
    else {
      document.getElementById("msg_class_hidden").style.visibility = "hidden";
    }
  }  

    $(document).ready(() => {
      username = document.getElementById("username").value;
      receiver = document.getElementById("receiver").value;
      console.log(username)
      console.log(receiver)
      
      $("#logoutButton").click(function(){
        logout("{{url_for('auth.logout')}}")
      });

      $('#show_contacts').empty();
      document.getElementById("msg_send_btn_id").style.visibility = "hidden";
      loadMessages(username, receiver)
    });
</script>
<style>
  .incoming_msg_img{
            text-align: center;
            border-radius: 50%;
            width: 25px;
            height: 25px;
        }
  .incoming_msg_img img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .chat_img{
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .chat_img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
</style>
</html>

