<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="favicon_io/favicon-32x32.png"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1> hello {{  profile["username"] }}</h1>
        <h2>hosted events</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Address</th>
                <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for event in profile['hosted_events']%}
                    <tr>
                    <th scope="row">{{event['title']}}</th>
                    <td>{{event['start_time']}}</td>
                    <td>{{event['end_time']}}</td>
                    <td>{{event['address']}}</td>
                    <td>{{event['rating']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>joined events</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Address</th>
                <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for event in profile['joined_events']%}
                    <tr>
                    <th scope="row">{{event['title']}}</th>
                    <td>{{event['start_time']}}</td>
                    <td>{{event['end_time']}}</td>
                    <td>{{event['address']}}</td>
                    <td>{{event['rating']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if profile['self'] %}
            <h2>message</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">From</th>
                    <th scope="col">Time</th>
                    <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in profile['messages']%}
                        <tr>
                        <th scope="row">{{ message['from'] }}</th>
                        <td>{{ message['time'] }}</td>
                        <td>{{ message['text'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </body>
    <script>
    </script>
    <style>
    </style>
</html>