<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="favicon_io/favicon-32x32.png"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Neighborhood</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{urls['events']}}">Events <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{urls['messages']}}">Message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{urls['profile']}}">Profile</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
        <h1> hello {{  profile["username"] }}</h1>
        <h2>hosted events</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Address</th>
                <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for event in profile['hosted_events']%}
                    <tr>
                    <th scope="row">{{event['title']}}</th>
                    <td>{{event['start_time']}}</td>
                    <td>{{event['end_time']}}</td>
                    <td>{{event['address']}}</td>
                    <td>{{event['rating']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>joined events</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Address</th>
                <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for event in profile['joined_events']%}
                    <tr>
                    <th scope="row">{{event['title']}}</th>
                    <td>{{event['start_time']}}</td>
                    <td>{{event['end_time']}}</td>
                    <td>{{event['address']}}</td>
                    <td>{{event['rating']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if profile['self'] %}
            <h2>message</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">From</th>
                    <th scope="col">Time</th>
                    <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in profile['messages']%}
                        <tr>
                        <th scope="row">{{ message['from'] }}</th>
                        <td>{{ message['time'] }}</td>
                        <td>{{ message['text'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </body>
    <script>
    </script>
    <style>
    </style>
</html>